# Build outputs
dist
build
.out
.next
.cache
coverage

# Dependencies
node_modules

# Lockfiles (optional to format)
package-lock.json
pnpm-lock.yaml
yarn.lock

# Generated artifacts
public/js
**/*.min.*
